<section class="sch-handout-panel" data-theme="{{theme}}" data-view="list" data-skin="a">
  <div class="shp-panel">
    <header class="shp-titlebar">
      <span class="shp-titlebar__title">핸드아웃</span>
      <span class="shp-titlebar__count">{{count}}</span>
      <span class="shp-titlebar__spacer"></span>
      <button class="shp-iconbtn" data-action="toggle-theme" type="button">
        {{#if isDark}}<i class="fa-solid fa-sun"></i>{{else}}<i class="fa-solid fa-moon"></i>{{/if}}
      </button>
    </header>

    <div class="shp-colhead"><span>소유자 · 카테고리</span><span>표면</span><span>비밀</span><span></span></div>

    <div class="shp-body">
      {{#each rows}}
        {{> handout-row this}}
      {{/each}}
    </div>
  </div>
</section>
